body {
    background: #d0d0d0;
    font-family: arial, sans-serif;
}

h1,h2,h3 {
    font-family: Georgia;
}

.header {
    width: 700px;
    margin: auto;
}
.footer {
    font-size: 0.6em;
    text-align: center;
    margin: 20px 0;
}

.wrap {
    width: 700px;
    margin: 10px auto;
    padding: 20px 25px;
    background: white;
    border-radius: 10px;
}

form {
    padding: 10px;
}

textarea {
    margin: 20px 0 10px 0;
    height: 150px;
    width: 660px;
    resize: none;
    border-radius: 10px;
    border: 2px solid lightblue;
    padding: 5px;
}

input.email {
    border: 2px solid lightblue;
    border-radius: 5px;
    width: 300px;
}

input.submit {
    background: lightblue;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 35px;
    width: 90px;
    border: 0px;
    float: right;
    position: relative;
    right: 7px;
    bottom: 46px;
    z-index: 1;
    font-family: arial black;
}
input.submit:hover {
    background: #50cefa;
}
div.commentsboard {
    margin: -10px 0 0 0;
    padding: 0px 15px;
    padding-bottom: 20px;
}

div.info {
    background: #eeeeee;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    font-size: 0.7em;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: teal;
}

div.info .date {
    float: right;
}

div.detail {
    padding: 15px;
}

div#seeall,div#hide {
    float:right;
    margin-right: 10px;
}
